body {
color: #212529;
background-color: #fff;
/* margin-top: 30px; */
}
:has(.company-page) {
background-color: #f1f3f6;
}
.panel-default > .panel-heading {
color: #333;
background-color: #fff;
border-color: #e4e5e7;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.company-page .company-content-sec .small-card .card-header h3.card-title {
margin-bottom: 0;
}
.company-page .company-content-sec .small-card{
margin-bottom: 0;
}
.company-page .card.wgz-social .form-group {
margin: 0;
}
.company-page .card-header{
padding: 12px 20px;
}
.company-page .card.wgz-social a {
text-decoration: none;
font-size: 24px;
}
.panel-default > .panel-heading a {
display: block;
padding: 10px 15px;
}

.panel-default > .panel-heading a:after {
content: "";
position: relative;
top: 1px;
display: inline-block;
font-family: "Glyphicons Halflings";
font-style: normal;
font-weight: 400;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transition: transform 0.25s linear;
-webkit-transition: -webkit-transform 0.25s linear;
}

.panel-default > .panel-heading a[aria-expanded="true"] {
background-color: #eee;
}

.panel-default > .panel-heading a[aria-expanded="true"]:after {
content: "\2212";
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
}

.panel-default > .panel-heading a[aria-expanded="false"]:after {
content: "\002b";
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

.accordion-option {
width: 100%;
float: left;
clear: both;
margin: 15px 0;
}

.accordion-option .title {
font-size: 20px;
font-weight: bold;
float: left;
padding: 0;
margin: 0;
}

.accordion-option .toggle-accordion {
float: right;
font-size: 16px;
color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
content: "Collapse All";
}

.panel-body {
height: 197px;
overflow-x: scroll;
overflow-y: scroll;
}

.profile-accordian .accordion-button {
color: #34cadc;
font-size: 18px;
font-weight: 500;
padding: 17px 0px !important;
background-color: #fff !important;
border-bottom: 2px solid #f1f1f1;
box-shadow: none !important;
}
.profile-accordian .accordion-item {
border: none;
border-radius: 0;
}
.profile-accordian .panel-body {
overflow-x: hidden;
height: auto;
max-height: 300px;
}
.profile-accordian .accordion-button::after {
filter: invert(69%) sepia(68%) saturate(453%) hue-rotate(137deg) brightness(88%) contrast(96%);
}
.profile-accordian .panel-body * {
font-size: 14px !important;
margin-left: 0 !important;
text-align: left !important;
}
.profile-accordian .accordion-button:not(.collapsed)::after{
filter: none;
}
.profile-accordian .accordion-button:not(.collapsed){
color: #000 !important;
}
.profile-accordian .accordion-body {
padding: 15px 0 0;
}









@media (max-width: 767px) {
.dashboard-options .dashboard-option i {
font-size: 48px;
}
.card-logo img {
    width: 70px;
}
.company-profile-card .company-main-header {
    padding: 10px;
}
.profile-accordian .accordion-button {
    font-size: 16px;
    padding: 15px 0px !important;
}
.company-content-sec {
    margin-top: 15px !important;
}
}

@media (max-width: 414px) {
.dashboard-options .dashboard-option {
margin-bottom: 1rem;
}
.dashboard-options .dashboard-option .option-icon {
padding: 20px 0px;
}
}


/* this is the new css 0 */

