.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table.dataTable {
  margin: 0 !important;
}

.DTFC_LeftBodyWrapper,
.DTFC_RightBodyWrapper {
  background-color: #fff;
}

#timeline .form-group {
  margin-bottom: 0;
}
.sidebar-navmenu .close-sidebar-navmenu {
  position: absolute;
  top: 5px;
  z-index: 9;
  right: 8px;
  cursor: pointer;
}
.sidebar-navmenu .close-sidebar-navmenu:hover i {
  color: #26c6da;
}
.sidebar-navmenu {
  position: fixed;
  right: -260px;
  left: auto;
  top: 0px;
  max-width: 260px;
  width: 100%;
  transition: 0.3s all;
  z-index: 9999;
  bottom: 0;
  overflow-y: scroll;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  background: #fff;
}
.sidebar-navmenu.show {
  right: 0;
}
.sidebar-navmenu .card-primary {
  border-color: #26c6da !important;
}
.sidebar-navmenu .wgz-employee-menu .nav-pills .nav-link:not(.active):hover {
  background-color: #26c6da;
}

.helpDesk-show {
  margin-top: 34px;
}
.helpDesk-show .card-header {
  background-color: #26c6da !important;
}
.helpDesk-show .card-header .btn-primary:hover {
  color: var(--primary-color) !important;
  background-color: rgb(255, 255, 255) !important;
}

@media (max-width: 767px) {
  .dashboard-options .dashboard-option i {
    font-size: 48px;
  }
}
@media (max-width: 414px) {
  .dashboard-options .dashboard-option {
    margin-bottom: 1rem;
  }
  .dashboard-options .dashboard-option .option-icon {
    padding: 20px 0px;
  }
}

/* search helpdesk css */

#ul {
}
.error {
  color: red;
}

ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
ul.tabs li {
  background: none;
  color: #222;
  padding: 10px 15px;
  cursor: pointer;
}

ul.tabs li.current {
  background: #26c6da;
  color: #fff;
}

.tab-content {
  display: none;
  /* background: #ededed;
      padding: 15px;*/
}

.tab-content.current {
  display: inherit;
}
table.dataTable {
  margin: 0 !important;
}

.DTFC_LeftBodyWrapper,
.DTFC_RightBodyWrapper {
  background-color: #fff;
}

#timeline .form-group {
  margin-bottom: 0;
}
.sidebar-navmenu .close-sidebar-navmenu {
  position: absolute;
  top: 5px;
  z-index: 9;
  right: 8px;
  cursor: pointer;
}
.sidebar-navmenu .close-sidebar-navmenu:hover i {
  color: #26c6da;
}
.sidebar-navmenu {
  position: fixed;
  right: -260px;
  left: auto;
  top: 0px;
  max-width: 260px;
  width: 100%;
  transition: 0.3s all;
  z-index: 9999;
  bottom: 0;
  overflow-y: scroll;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  background: #fff;
}
.sidebar-navmenu.show {
  right: 0;
}
.sidebar-navmenu .card-primary {
  border-color: #26c6da !important;
}
.sidebar-navmenu .wgz-employee-menu .nav-pills .nav-link:not(.active):hover {
  background-color: #26c6da;
}

.helpDesk-card {
  padding: 1.25rem 1.25rem 2.25rem;
}
.helpDesk-logo {
  text-align: center;
  margin: 20px 0px 38px;
}
.helpDesk-logo img {
  max-width: 250px;
}
.helpDesk-search {
  max-width: 560px;
  margin: 0 auto;
  border-radius: 50px;
}
.helpDesk-search input {
  font-size: 14px;
  border: none;
  width: 100%;
  height: 45px;
  margin: 0 auto;
  border-radius: 50px;
  box-shadow: 0 1px 3px 0 rgb(32 33 36 / 30%);
  padding: 0.475rem 1.3rem;
}
.helpDesk-search input:focus {
  box-shadow: 0 1px 3px 0 rgb(32 33 36 / 30%);
}
.helpDesk-search.show input {
  border-radius: 10px 10px 0px 0px;
}
.helpDesk-dropdown {
  max-width: 560px;
  margin: 0px auto 0px;
  padding: 0px;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgb(32 33 36 / 30%);
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.helpDesk-search.show .helpDesk-dropdown {
  display: block;
}
.helpDesk-dropdown li a {
  display: block;
  padding: 10px 24px;
  color: #000000;
  font-size: 14px;
}
.helpDesk-dropdown li a:hover {
  background: #e1e1e1;
}
.helpDesk-dropdown li:last-child a {
  border-radius: 0px 0px 10px 10px;
}

@media (max-width: 767px) {
  .dashboard-options .dashboard-option i {
    font-size: 48px;
  }
}
@media (max-width: 575px) {
  .helpDesk-logo {
    margin: 0px 0px 28px;
  }
  .helpDesk-logo img {
    max-width: 170px;
  }
}
@media (max-width: 414px) {
  .dashboard-options .dashboard-option {
    margin-bottom: 1rem;
  }
  .dashboard-options .dashboard-option .option-icon {
    padding: 20px 0px;
  }
}
