
table.dataTable {
	margin: 0 !important;
}

.DTFC_LeftBodyWrapper, .DTFC_RightBodyWrapper {
	background-color: #fff;
}

#timeline .form-group {
	margin-bottom: 0;
}
    @media(max-width:767px){        
        .dashboard-options .dashboard-option i {
            font-size: 48px;
        }
    }
    @media(max-width:414px){
        .dashboard-options .dashboard-option {     
            margin-bottom: 1rem;
        }
        .dashboard-options .dashboard-option .option-icon {        
            padding: 20px 0px;
        }
    }
